/* App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  min-height: 100vh;
}

button {
  background-color: #007aff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:disabled {
  background-color: #007aff80;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #006ee3;
}

label,
input,
select {
  font-size: 1rem;
}

label {
  margin: 0.5rem 0;
}

input,
select {
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  outline: none;
}

input:focus,
select:focus {
  border-color: #007aff;
  box-shadow: 0 0 0 1px #007aff;
}

#chordProgression {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* App.css */

/* ...previous styles */

.controls,
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.controls > * {
  margin: 0.5rem;
}

.buttons > * {
  margin: 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  min-height: 100vh;
}

.key-bpm,
.options,
.play-download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.key-bpm > *,
.options > *,
.play-download > * {
  margin: 0.5rem;
}

.chordProgressionDisplay {
  display: inline-block;
  width: 200px; /* Adjust this value according to your desired width */
  text-align: center;
}
